﻿@charset "utf-8";
/* CSS Document */

* { margin:0px; padding:0px; border:0px; }
body { background:#F3F3F3; font-family:Verdana, Geneva, sans-serif; font-size:80%; }

table td { vertical-align:top; }

a { color:#ea712c; text-decoration:none; border-bottom:1px solid #ea712c; }
a.noborder { border-bottom:0px; }

h1 { color:#d85924; font-size:130%; }
h2 { color:#d85924; font-size:120%; }
h2 a { color:#d85924; border-bottom:0px; }

div.space0 { height:1px; width:100%; display:block; float:none; clear:both; overflow:hidden; font-size:1px; }
div.space5 { height:5px; width:100%; display:block; float:none; clear:both; overflow:hidden; font-size:5px; }
div.space10 { height:10px; width:100%; display:block; float:none; clear:both; overflow:hidden; font-size:10px; }
div.space20 { height:20px; width:100%; display:block; float:none; clear:both; overflow:hidden; font-size:20px; }

.hide { display:none; }

div.pages { text-align:center; }

/* шапка сайта */
#top { margin:0px auto; width:1000px; }
#top td {}

#logo a { border-bottom:0px; }

#menu { width:700px; }
#menu ul { list-style-type: none; margin-top:30px; }
#menu ul li { background:url("menu-pointer.png") left no-repeat; padding:0px 10px; float:left; }
#menu ul li a { color:#676767; border-bottom:0px; font-weight:bold; }
#menu ul li a.act { color:#ea712c; font-weight:bold; }
#menu ul li a:hover { color:#ea712c; }

#contacts { color:#676767; text-align:right; font-size:180%; white-space:nowrap; }
#contacts small { font-size:60%; }

#hamster { text-align:right; width:220px; }

#scheme { padding-top:9px; text-align:right; }
#scheme a { border-bottom:0px; text-align:right; }

#floors { background:url("line.png") top no-repeat; }
#floor1 { position:relative; float:left; left:40px; cursor:pointer; }
#floor2 { position:relative; float:left; left:100px; cursor:pointer; }
#floor3 { position:relative; float:left; left:160px; cursor:pointer; }
#floor1div { position:absolute; left:-27px; margin-top:-1px; display:none; width:147px; height:134px; padding:20px 15px 5px 20px; background:url("floor1div.png") top left no-repeat; z-index:3; }
#floor2div { position:absolute; left:-7px; margin-top:-2px; display:none; width:152px; height:150px; padding:10px; background:url("floor2div.png") top left no-repeat; z-index:3; }
#floor3div { position:absolute; left:13px; margin-top:-12px; display:none; width:157px; height:172px; padding:20px 20px 10px 10px; background:url("floor3div.png") top left no-repeat; z-index:3; }
#floor1div a, #floor2div a, #floor3div a { color:#515151; display:block; padding-bottom:4px; margin-top:4px; border-bottom:1px dotted #515151; }
#floor1div a:hover, #floor2div a:hover, #floor3div a:hover { color:#ea712c; }

#slider1 { background:#0000ff url("slider_right.png") no-repeat right; height:24px; }
#slider2 { background:url("slider_left.png") no-repeat; padding-left:27px; height:24px; color:#ff0000; font-size:12px; line-height:24px; }

#slider3 { color:#ffffff; font-size:12px; line-height:24px; }
#slider3 ul li a { color:#ffffff; font-size:12px; line-height:24px; border-bottom:0px; }
#slider3 li { width:1000px; overflow:hidden; }

/* */
#all { margin:0px auto; width:1000px; }

/* левая колонка */
#left { width:200px; }

#left div.record { font-size:80%; margin-top:20px; cursor:pointer; }
#left div.record h3 { color:#ea712c; margin-bottom:0px; font-size:120%; }
#left div.record div.date { color:#999; }
#left div.record div.announce { color:#676767; margin-top:5px; }
#left div.record div.detailed { text-align:right; }
#left div.record div.detailed a { color:#ea712c; }

#left a.contract { border-bottom:0px; }

/* центральная колонка */
#center {  }
#center div.chain  { color:#ea712c; }
#center div.chain a { padding-top:2px; }
#center div.chain span { color:#676767; }

#center h1.title { border-bottom:1px dotted #d85924; border-top:1px dotted #d85924; padding:3px 0px 5px; }
#center div.announce { color:#676767; }
#center div.text {}
#center div.text ul li { margin-left:20px;}
#center div.text table.floors ul li { margin:5px 0px 0px 20px;}
#center div.text div.style1 { color:#5d2d09; font-size:120%; border-left:4px solid #ec6501; margin-bottom:15px; padding:3px 0 3px 10px; }

#center div.text table.table1 { width:100%; font-size:90%; border-collapse:collapse; }
#center div.text table.table1 td { text-align:center; padding:4px; border:1px solid #676767; vertical-align:middle; }

#center div.text table.table2 { width:100%; font-size:90%; }
#center div.text table.table2 td { width:13%; color:#a03300; padding:2px; font-size:80%; border:1px solid #000; vertical-align:top; }
#center div.text table.table2 td.head { background-color:#f60; padding:10px 2px; text-align:center; color:#fff; font-size:90%; }
#center div.text table.table2 td.left { width:9%; background-color:#c0c0c0; color:#a03300; text-align:center; padding:40px 0px 0px; font-size:90%; }


#center div.record { font-size:90%; margin-top:20px; cursor:pointer; }
#center div.record h3 { color:#ea712c; margin-bottom:0px; }
#center div.record div.date { color:#999; }
#center div.record div.announce { color:#676767; margin-top:5px; }
#center div.record div.detailed { text-align:right; }
#center div.record div.detailed a { color:#ea712c; }

#center div.text div.photo { float:left; width:140px; height:160px; padding:10px; margin:10px 15px; background-color:#fff; text-align:center; font-size: 80%; }
#center div.text div.photo a { border-bottom:0px; }

#form_cards {}
#form_cards table td { padding:2px 5px; vertical-align: middle; }
#form_cards input.text { border:1px solid #666; width:340px; padding:4px 2px; }
#form_cards select { border:1px solid #666; width:344px; padding:4px 2px; }
#form_cards input.button { background-color: #ccc; border:1px solid #666; cursor:pointer; padding:3px 10px; }

#testdrive { border: 3px solid #ff9854; padding:7px; }
#testdrive form table td { padding:2px 5px; vertical-align: middle; }
#testdrive form input.text { border:1px solid #ea712c; width:320px; padding:4px 2px; }
#testdrive form select { border:1px solid #ea712c; width:324px; padding:4px 2px; }
#testdrive form input.button { background-color: #ea712c; border:1px solid #000; cursor:pointer; padding:3px 10px; font-weight:bold; }

/* правая колонка */
#right { width:160px; text-align:center; }
#photos { text-align:center; }
#photos a { border-bottom:0px; }
#photos div.photo { padding:10px; background-color:#fff; }

/* подвал сайта */
#bottom { /*background:url(../img/footer.png) top no-repeat;*/ padding-top:15px; }
#bottom table td.left { width:360px; }
#bottom table td.center { width:400px; font-size:90%; color:#676767; }
#bottom table td.right {  }
